* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', monospace, sans-serif;
}
header {
    display: flex;
    justify-content: center;
    width: 1930;
    height: 190px;
    padding-top: 50px;
    background-image: url("img/120-1209522_mars.jpg");
    box-sizing: border-box;
}
.content {
    display: flex;
    width: 1433px;
    flex-wrap: wrap;
    padding-left: 235px;
}
section {
    display: flex;
    flex-direction: column;
}
main h2 {
    text-align: center;
    color: #ea2658;
    font-size: 40px;
    font-weight: 700;
    width: 1433px;
    text-align: left;
    letter-spacing: 5px;
    margin-bottom: 35px;
    margin-top: 50px;
}
main p {
    width: 1250px;
    margin: 35px 0;
    font-size: 20px;
}
main cite {
    width: 1300px;
    font-style: normal;
    color: grey;
}
.rocket {
    margin: 50px 175px 0 175px;
}
.newspaper {
    margin: 50px 350px 0 350px;
}
.last-block {
    margin-bottom: 100px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("img/footer.jpg");
    height: 150px;
}
.footer a {
    color: white;
}
.justA {
    margin-top: 60px;
}
.footer-logo {
    margin-top: 20px;
}
.footer .social p.text {
    color: white;
    margin-top: 60px;
}
.social {
    display: flex;
    flex-direction: row;
}
.social-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.social-item {
    margin-top: 55px;
    margin-right: 40px;
}
.social-item:first-child {
    margin-left: 40px;
}
.social-item:last-child {
    margin-top: 51px;
}
.social-item p {
    display: none;
}
